*{
    margin:0;
    padding:0;
}

body, html {
    width: 100%,!important;
    height: 100%,!important;
    font-family: 'Ubuntu', sans-serif,!important;
}

.bg-gradient{background: linear-gradient(to right,#61b2cb,#1d65eb)}
#header{
    padding-left:50px;
    padding-right:50px;

}
#logo{
    font-family: 'Rochester', cursive;
    color:#fff;
    font-size: 50px;  
    font-weight: 800;
    font-stretch: extra-expanded;
    text-decoration: none;
    transition-duration: 0.8s;
}
#logo:hover{
    transform: scale(1.1);
}

#jr{
    color:#fff;
    padding: 0;
    background: rgb(0, 0, 0);
    font-size: 20px;
    padding: 6px;
}


#barra-navegacao li {
    font-size: 15px;
    color:#fff;
    margin: 8px;
}
#barra-navegacao ul li a{
    font-size: 20px;
    color:#fff;
    padding: 10px;
}
#barra-navegacao li a:link {
    text-decoration: none;
    color:#fff;
}

#barra-navegacao li a:hover {
    background-color: #fff;
    border-radius: 5px;
    color:rgb(13, 14, 13);
    transition-duration: .5s;
}
#barra-navegacao li a{
    color:#fff;
}



/*==================     MAIN        ====================*/
#main{
    width: 100%;
    height: 100%;
   
}

#painel-cronometro{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background-color:#ccc;

}
#cronometro{
    margin-top: 2%;
   
}
#seminfo{
    font-family: 'Ubuntu', sans-serif,!important;
    color:rgb(232, 248, 6);
    font-size:40px; 
    font-weight: 700;
}

#slogan{
    color:rgb(250, 251, 252);
    font-size:25px;
    font-weight: 450;
    align-content:center;
}

.contorno-numeros{
    
    color:rgb(250, 251, 252);
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
    border:3px solid;
    width: 100px;
    height: 120px;
    border-radius: 10px;
    margin: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}   
.contorno-pontos{
    color:rgb(250, 251, 252);
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 3%;
    font-family: 'Rajdhani', sans-serif;
    padding: 10px 0px 30px 0px;
}
.info{
    color:rgb(255, 255, 255);
    font-size: 18px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.texto-apoio{
    margin:2%;
    text-align: justify;

}
.img-rounded{
    width: 300px;
    height: 300px;
    border-radius:2%;
   
}
.fundo{
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color:rgb(130, 248, 242);
    opacity: .9;
}
.painel-eventos{
    z-index: -100;
}

.fundo-local{
    background-image: url("img/ufs-toda2.jpg");
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 20%;
}

.local-maps{
    margin-top:11%;
    z-index: 10;
    position: absolute;
}

.informacao-local{
    margin-top:5%;
    padding: 1%;
    height: 250px;
    color:rgb(20, 19, 19);
    box-shadow: 5px -5px 15px #000;
    background-color: rgb(255, 255, 255);
    z-index: 120;
    position: absolute;
    justify-content: center;
    margin-left:2%
}

.informacoes div{
    margin-top:5%;
}
.info-evento{
    background-color: rgb(204, 203, 203);
    height: 500px;
}
.info-seminfo{
    color:rgb(93, 91, 91);
    border: 2px solid #fff;
    background-color: #fff;
    width: 100%;
    height: 500px;
    justify-content: center;
    text-align: center;
    margin-top:2%;
}
.topico-seminfo{
    padding-left:20px ;
    padding-right:20px ;
    font-weight: 300;
    font-size:60px;

}
.icon-patrocinadores{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:rgb(10, 95, 192);
    display: inline-flex    ;
    align-items: center;
    justify-content: center;
    color:#fff;
    cursor: pointer;
    transition-duration: .1s;
}
.icon-patrocinadores:hover{
    transform:scale(1.1);
    transition-duration: .1s;
}
#btn-menu{
    cursor: pointer;
    background-color: rgb(255, 253, 253);
    border-radius: 50%;
    border:0px;
    width: 40px;
    height: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition-duration: 0.4s;

}
#btn-menu:hover{
    transform: scale(1.2);
    transition-duration: 0.4s;
}
.icon-bar{
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #000000;
    margin-top:5px;
    transition: 0.4s;
}
#btn-menu :first-child
{
    margin-top:0px;

}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

.borda{
    text-decoration: line;
}
footer{
    margin-top:2%;
    bottom:0;
    height: 300px;
    background: rgb(155, 155, 155);
}

/* MEDIA QUERIES */
@media (max-width:800px){

    #seminfo{
        font-weight: 500;
        font-size:40px;

    }
    #slogan{
        text-align:center;
        font-size:24px;
    }
    .contorno-numeros{
        font-size: 50px;
        border:2px solid;
        width: 70px;
        height: 90px;
        margin: 8px;
        font-weight: 300;
    }
    .contorno-pontos{
        font-size: 50px;
        margin-bottom: 3%;
        font-weight: 700;
    }
    .info{
        font-size: 16px;
    }
    .local-maps{
        margin-top:18%;
        z-index: 10;
        position: absolute;
        width:600px;
        height:250px;
    }
    .fundo-local{
       
        width: 100%;

    }
 
}



/* MEDIA QUERIES */
@media (max-width:600px){
    #seminfo{
        font-weight: 500;
        font-size:35px;

    }
    #slogan{
        text-align:center;
        font-size:18px;
    }
    .contorno-numeros{    
        font-size: 28px;
        border:2px solid;
        width: 50px;
        height: 70px;
        margin: 3px;
        font-weight: 300;
    }
    .contorno-pontos{
        font-weight: 400;
        font-size: 30px;
        font-family: 'Rajdhani', sans-serif;
    }
    .info{
        font-size: 14px;
    }
    .local-maps{
        margin-top:20%;
        z-index: 10;
        position: absolute;
        width:500px;
        height:250px;
    }
    .fundo-local{
        width: 100%;
    }
    .topico-seminfo{
        font-size: 38px;
    }
 
}